.tuby {
  --tuby-primary-color: #ff0000;

  font-family: Arial, Helvetica, sans-serif;

  button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
  }

  * {
    user-select: none;
  }
}
